# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  flake8_check:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7.8
          architecture: x64
      - name: Checkout Master
        uses: actions/checkout@master
      - name: Install flake8
        run: pip install flake8
      - name: Run flak8
        uses: suo/flake8-github-action@v1
        with:
          checkName: flake8_check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
